/*import of fonts*/

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald');
/*Classes for the header*/

body {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0px 0% 0px 0%;
    top: 0;
    background: rgba(7, 113, 195, 0.8);
    color: white;
    width: 100%;
    position: fixed;
    height: 60px;
}

.to-left {
    float: left;
}

.to-right {
    font-family: 'Montserrat', sans-serif;
    float: right;
}

.header-left {
    width: 40%;
    height: 50px;
}

.hide {
    display: none;
}

.header-right {
    display: inline-block;
    height: 60px;
    width: 60%;
}

.header-left h1 {
    margin: 5px 35% 10px 0%;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.logo {
    margin: 5px 0px 0px 2%;
    cursor: pointer;
}

.li {
    display: inline-block;
    width: 15%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.nav-inactive:hover {
    margin: 10px 0% 0% 0%;
    padding: 15px 0% 20px 0%;
    background-color: #393c41e9;
}

.nav-active {
    background-color: #384b77e8;
    margin: 10px 0% 0% 0%;
    padding: 15px 0% 20px 0%;
}

.nav-inactive {
    margin: 0% 0% 0% 0%;
}

.divider-small {
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.91);
    height: 8px;
}

nav div {
    height: 4px;
    background: white;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;
}

nav {
    width: 30px;
    margin: 1em 0 0 1em;
}

.one {
    width: 30px;
}

.two {
    width: 20px;
}

.three {
    width: 25px
}

nav:hover div {
    width: 30px;
}

.header-right .to-right {
    border-radius: 60%;
    margin: 15px 4% 5px 0%;
}

.header-right #notifications {
    margin: 0px 0% 7px 50%;
    left : 50%;
}

#notifications:hover {
    background: #3a6fcae9;
    padding: 1px 1% 1px 1%;
    border-radius: 50% 50% 50% 50%;
}

/* classes for the body of the page*/

.page-body {
    display: block;
    height: 100%;
}

/*Side menu */

.side-nav {
    display: inline-block;
    position: fixed;
    width: 18%;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: #1d1d1d;
    border-right: 1px solid rgb(214, 218, 214);
    border-radius: 1px;
    margin: 68px 0% 5px 0%;
    padding-top: 25px;
    transition: 0.5s;
}

.profile-activity .profile-photo {
    display: inline-block;
    border-radius: 70%;
    cursor: pointer;
}

#image-slide {
    border-radius: 50%;
}

.profile-activity .username-display {
    display: inline-block;
}

.side-nav .a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 10px 0% 5px 10%;
}

.profile-activity .username-display {
    text-align: center;
}

.profile-activity .profile-photo {
    margin-top: 10px;
    cursor: pointer;
}

.side-nav .new-message {
    border: 0.5px solid rgb(214, 218, 214);
    padding: 5px 0% 6px 10%;
    margin: 15px 25% 5px 5%;
    border-radius: 10px;
}

.side-active {
    background-color: #474d5de8;
    padding: 2px 0% 2px 5%;
    border-bottom-right-radius: 15px
}

.new-message:hover {
    background-color: #393c41e9;
}

/*Main part*/

.main {
    display: inline-block;
    width: 81.5%;
    border-radius: 3px;
    margin-top: 68px;
}

.mails-display {
    width: 100%;
    float: left;
    margin-top: 62px;
}

.controls {
    padding: 4px 0% 4px 1%;
    margin: 2px 0% 2px 0%;
    background: #e9e9e9;
    height: 50px;
    position: fixed;
    width: 80%;
    border-radius: 20px;
}

.controls:hover {
    background: #ffffff;
}

.controls table tr td {
    text-align: center;
    border-radius: 50%;
    padding: 5px 0% 6px 0%;
}

.controls table tr td:hover {
    background: #ffffff;
    box-shadow: 5px 0px 5px 0px rgba(143, 140, 140, 0.2);
}

.controls .to-right {
    margin-top: 3px;
}

.controls .to-left td {
    width: 55px;
}

.controls .to-right td {
    width: 60px;
}

.range-of-total-mails {
    padding-left: 50%;
}

.mails-display table tr td {
    padding: 7px 0% 7px 0%;
    background: #ffffff;
    border-radius: 3px;
}

.mails-display table {
    border-left: 1px solid rgb(168, 161, 161);
    border-right: 1px solid rgb(165, 157, 157);
}

.mails-display table tr:hover td {
    background: #c3c2c2;
    box-shadow: 10px 10px 10px 10px rgba(95, 93, 93, 0.2);
}

.mail .check-box {
    padding-left: 1%;
    width: 40px;
}

.mail .check-box:hover {
    background: #ffffff;
}

.mail .contacts-in-thread {
    padding-left: 1%;
    width: 5cm;
}

.mail .content-truncated {
    padding-left: 1%;
    width: 20cm;
}

.mail .last-activity-date {
    padding-left: 1%;
    padding-right: 1%;
    width: 3cm;
}

#dropdown-arrow {
    margin-top: 10px;
}

.check-box-input {
    margin: 10px 0% 15px 0%;
}

/*managing navigation and controls */

.a div:hover {
    background: #757575e8;
    box-shadow: 5px 0px 5px 0px rgba(143, 140, 140, 0.2);
}

select {
    background: transparent;
    width: 50px;
    padding: 5px;
    font-size: 15px;
    line-height: 1;
    border: 0;
    -webkit-appearance: none;
    font-family: helvetica-roman;
    color: rgb(65, 60, 60);
    text-indent: 0.01px;
}

select option {
    margin: px;
}

/*Design of the read message dialog */

#dialog-overlay {
    display: none;
    opacity: .2;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgb(148, 144, 144);
    width: 100%;
     
    z-index: 10;
}

#dialog-box {
    display: none;
    position: fixed;
    background: white;
    border-radius: 7px;
    border: 1px solid rgb(66, 65, 65);
    width: 70%;
    z-index: 10;
    font-family: "Roboto", sans-serif;
}

#dialog-box #dialog-box-head {
    background: rgb(29, 28, 28);
    font-size: 15px;
    padding: 10px;
    color: #CCC;
    border-radius: 2px;
    text-align: center;
    width: 98%;
}

 #dialog-box-body {
    background: rgb(255, 255, 255);
    padding: 2px;
    color: rgb(0, 0, 0);
    width: 100%;
}

#dialog-box-foot {
    background: rgb(255, 255, 255);
    padding: 2px;
    text-align: center;
    width: 100%;
    border-radius: 3px;
    height:100%;
}

#dialog-box-foot button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #343536e8;
    border-radius: 2px;
    border: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    margin: 3px;
}

#dialog-box-body input{
    width: 60%;    
    margin: 10px;
    border-radius: 6px;
    height: 20px;
}

#email-text{
    width :98%;
    height: 300px;
    margin : 0px 0% 0px 0%;
}

/*classes for the reset message form*/

.form {
    position: fixed;    
    background: rgba(71, 133, 195, 0.8);
    width: 300px;
    top :6%;
    left: 50%;
    padding: 25px;
    text-align: center;
    border-radius: 10%;
    z-index: 15;
    border: 1px solid rgb(214, 218, 214);
    display: none;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;

}
form input{
    padding: 10px;
}
.form .button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #384b77e8;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;

}

.form .button:hover {
    background: #4CA047
}

.form .message {
    margin: 15px;
    color: aliceblue;
    font-size: 12px;
}

.form .message a {
    color: #0e0e0e;
    text-decoration: none;
}

.form .message a:hover {
    color: rgb(12, 231, 19);
}


.login-up-text {
        font-size: 2rem;
        font-weight: 200;
        flex: 100%;
        background: #F6F8FA;    
        font-family: 'Oswald', sans-serif;
}

.space {
    padding: 20px 0;
}

.text-center {
    text-align: center;
}

.form .button:hover, .form .button:active{
    background: rgb(47, 47, 47);
}

.form .sigin-form{
    display: none;
}

.hide{
    display: none;
}
 
.groupOfInputs {
    position: relative;
    display: table;
    border-collapse: separate;
}

.form-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0 24px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}

.form label{
    color: aliceblue;
    float: left;
     
}

.profile-box-foot button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #343536e8;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;

}

.profile-box-foot{
    margin: 5px;
    border-radius: 15px;
    border-top: 0.5px solid rgb(214, 218, 214);
     
}

.profile-box{
    position: fixed;
    z-index: 1;
    background: rgba(71, 133, 195, 0.8);
    width: 300px;
    top :6%;
    left: 72%;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 25px;
    z-index: 15;
    border: 1px solid rgb(214, 218, 214);
    display: none;
}

/*class of the group management*/
.groups{
    position: fixed;
background: rgba(7, 113, 195, 0.8);
color: white;
text-decoration: none;
width : 15%;
font-family: 'Montserrat', sans-serif;
border-radius: 5px;
z-index: 15;
padding:1px;
margin : 150px 0% 0px 15%;
display: none;

}

.group-list{
    list-style-type: none;
}

.group-list li{
    padding: 2px;
    width:100%;
}

.group-list li:hover{
    background-color: #393c41e9;
}

/*classes for the admin */

.form-admin-group{
    position: fixed;
    
    background: rgba(71, 133, 195, 0.8);
    width: 300px;
    top :6%;
    left: 50%;
    padding: 25px;
    text-align: center;
    border-radius: 10%;
    z-index: 15;
    border: 1px solid rgb(214, 218, 214);
     
     
}

/*classes for the search button*/
.header-right .search{
 
cursor: pointer;
display: inline-block;
background: rgba(26, 126, 226, 0.8);
width:220px;
margin: 10px 0 0px 0;
border-radius:10px; 
height: 40px ;
z-index: 5;
}

.search #search-btn{
    margin: 10px 3% 1px 0%;
}

.search .to-left{
    margin: 5px 0% 0% 2%;
    border: none;
    border-radius: 5px;
    height: 60%;
    width : 85%;
}

/* classe for the subject TR*/

.mail-subject{
    width : 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}