@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* General CSS*/

body {

    background-size: cover;
    background-position: center;
    height: 100vh;
}

label{
   float: left;
}

/* CSS for sign up and sign in */
.signin-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.signup-page {
    width: 360px;
    padding: 5% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(7, 113, 195, 0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
    border-radius: 10%;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
     
    box-sizing: border-box;
    font-size: 14px;

}
form input{
    padding: 10px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #384b77e8;
    width: 58%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;

}

.form .button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #384b77e8;
    width: 30%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;

}

.form button:hover {
    background: #4CA047
}

.form .message {
    margin: 15px;
    color: aliceblue;
    font-size: 12px;
}

.form .message a {
    color: #0e0e0e;
    text-decoration: none;
}

.form .message a:hover {
    color: rgb(12, 231, 19);
}



.apk-logo {
    margin: 10px 10px 10px 0;
    transition: all 0.3s ease-in-out;

}

.login-up-text {
        font-size: 2rem;
        font-weight: 200;
        flex: 100%;
        background: #F6F8FA;    
        font-family: 'Oswald', sans-serif;
}

 

.space {
    padding: 20px 0;
}

.text-center {
    text-align: center;
}

.form button:hover, .form button:active{
    background: rgb(47, 47, 47);
}

.form .sigin-form{
    display: none;
}

.hide{
    display: none;
}

.form .signup-form{
   
}

 
.groupOfInputs {
    position: relative;
    display: table;
    border-collapse: separate;
  }

  .form-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0 24px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
     
}

.form label{
    color: aliceblue;
     
}

.remember-me{
    width: 100%;
    display: inline;
}

.remember-me .rm-label{
     
    left:0;
    float: left !important;
    width:75%;
    text-align: left;
}

.remember-me #remember-me{
    width: 25%;
    
    float: right !important;
     
    
}